<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>

<body>
<div class="login-page">
    <div th:if="${error}">
        <p class="alert alert-danger" th:text="${error}"></p>
    </div>
    <div th:if="${message}">
        <p class="alert alert-info" th:text="${message}"></p>
    </div>
    <div th:if="${warning}">
        <p class="alert alert-warning" th:text="${warning}"></p>
    </div>
    <div class="form">
        <form class="login-form" method="post" th:action="@{/process-login}">
            <label>
                <input name="username" placeholder="username" required type="text"/>
            </label>
            <label>
                <input name="password" placeholder="password" required type="password"/>
            </label>
            <input id="button" type="submit" value="Log in"/>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>
</html>
