<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Reservations</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>

<div>
    <div th:insert="~{fragments/nav :: nav}"></div>
    <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
        <h3>Welcome <span th:text="${session.user.getFullname()}"></span></h3>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Amenity</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col" th:if="${#authorization.expression('isAuthenticated()')}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${reservations.isEmpty()}">
                <td colspan="5">No reservations found</td>
            </tr>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.getAmenityType()}"></td>
                <td th:text="${reservation.getReservationDate()}"></td>
                <td th:text="${reservation.getStartTime()}"></td>
                <td th:text="${reservation.getEndTime()}"></td>
                <td th:if="${#authorization.expression('isAuthenticated()')}">
                    <button class="btn btn-primary" method="POST" th:href="@{/delete-reservation}"
                            th:object="${reservation}">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Button trigger modal -->
        <button class="btn btn-success" data-bs-target="#createReservationModal" data-bs-toggle="modal"
                th:if="${#authorization.expression('isAuthenticated()')}" type="button">
            Create Reservation
        </button>

        <!-- Modal -->
        <div th:insert="~{fragments/modal :: modal}" th:with="reservation=${reservation}"></div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>